body {
  margin: 0px;
  font-family: sans-serif;
  height: 1000px;
}

a {
  color: inherit;
}

a,
ul,
li {
  text-decoration: none;
  font-size: 20px
}

ul {
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7c272c;
}

.logo-inicial {
  width: 150px;
  margin: 1rem;
  padding: 1rem;
}

.nav-lista {
  display: flex;
  padding: 2rem;
  gap: 1.5rem;
}

.item a {
  color: white;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.item a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f3c716;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container-wrapper {
  background-color: #7c272c;
  display: flex;
  align-items: center;
}

.input-wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 60px;
  transition: 0.5s;
  overflow: hidden;
}

.input-wrapper .input {
  display: flex;
  position: relative;
  height: 60px;
  width: 300px;
  left: 30px;
  justify-content: center;
  align-items: center;
}

.input-wrapper input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px 0;
}

.input-wrapper input:focus-visible {
  outline: none;
}

.input-wrapper.active {
  width: 360px;
  background-color: #fff;
}

svg {
  padding: 12px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #7c272c;
  position: absolute;
  right: -2px;
  top: 48%;
  transform: translateY(-50%);
}

@media (max-width: 2000px) and (max-width: 1200px) {
  .logo-inicial {
    width: 130px;
    margin: auto;
    padding: 0.5rem;
  }
  .input-wrapper {
    width: 40px;
    height: 40px;
  }
  .input-wrapper .input {
    height: 40px;
    width: 150px;
    left: 30px;
  }
  .input-wrapper.active {
    width: 180px;
  }
  svg {
    padding: 8px;
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 960px) {
  header, .logo-inicial {
    justify-content: start;
  }
  .logo-inicial {
    width: 120px;
    margin: 10px;
  }
  .nav-site {
    display: none;
  }
}